body{
    background-image: linear-gradient(120deg,#e0c3fc 0%, #8ec5fc 100%);
    background-repeat: no-repeat;
}

::selection{
    color: #fff;
    background-color: rgb(144, 129, 241);
}

.main{
    display: flex;
    width: 70rem;
    height: 55rem;
    background-color: rgba(255,255,255,60%);
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 30%);
    margin: 10% auto;
    overflow: hidden;
    border-radius: 1.5rem;
}

.main .left{
    position: relative;
    width: 35%;
    height: 100%;
    background-color: black;

}

.main .left::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./imgs/9b3a952d6d8a7c6b22681fda45630d373493288407468174.jpg);
    background-size: cover;
}

.main .right{
    width: 65%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main .right h2{
    font-size: 2rem;
    margin-top: 3em;
    color: rgb(144, 129, 241);
}

.main .right .acc .acc{
    width: 80%;
    height: 3rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid rgb(144, 129, 241);
    color: rgb(144, 129, 241);
}

.main .right .acc .submit{
    width: 40%;
    height: 3.5rem;
    margin-top: 3rem;
    background-image: linear-gradient(120deg,#e0c3fc 0%, #8ec5fc 100%);
    border: none;
    color: #fff;
}

.main .right .fin{
    display: flex;
    justify-content: space-between;
    margin-top: 50%;
}

.main .right .fin a{
    text-decoration: none;
    margin: 0 10%;
    color: #666;
}

